extends layout/layout

block vars
    -title = 'Sari'
    -bodyClass = 'home-page'

block container
          section.space.style-space
            .container
              .row.style-start
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  p.mb-10.font-w-700.styleName
                    | Nền tảng đánh giá năng lực du học hàng đầu Việt Nam
                  p.mb-40.styleText
                    | SARI là nền tảng đánh giá năng lực thông qua các bài kiểm tra khảo sát các câu hỏi hàng đầu
                    | Việt Nam về du học.
                  a.btn.rounded-full.btn--outline.btn--sm.btn-3d-hover.btn-splash-hover(href='#news')
                    span.btn__text LÀM BÀI KIỂM TRA
                .col-12.col-md-9.col-lg-6.ml-lg-auto
                  div
                    img.img-start(src='/images/BackroundBody.png', alt='')
          section.space.style-space
            .container
              .row
                .col-12.col-md-10.col-lg-6.mb-50.reveal
                  div
                    p.mb-10.font-w-700.styleName
                      | Học sinh-sinh viên nói gì về SARI
              #logo.row.styleAbout.people-image
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  p.mb-10.text-uppercase.font-w-700
                    | SARI giúp mình cải thiện học lực rất nhiều
                  p.mb-40.styleText
                    | Mình biết SARI cách đây 1 năm, lúc đấy đang không biết mình có đủ điều kiện để đi du học hay
                    | không?
                    | Thật may mắn khi SARI đã cho mình biết mình đang ở đâu và cải thiện những điểm yếu của mình
                    | như thế nào.
                    | Và sau 6 tháng kiểm tra lại,
                    | mình đã hoàn toàn tự tin để đi du học.
                  .style-people
                    div
                      img.logo-account(src='/images/logo-page-01.png', alt='')
                    div
                      p.mb-10.ml-20.text-uppercase.style-text-people
                        | Hòa Nguyễn
                      p.mb-10.ml-20.text-uppercase.style-text-info
                        | Cựu du học sinh RMIT- Đang sinh sống và làm việc tại Úc
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  p.mb-10.text-uppercase.font-w-700
                    | SARI giúp mình cải thiện học lực rất nhiều
                  p.mb-40.styleText
                    | Mình biết SARI cách đây 1 năm, lúc đấy đang không biết mình có đủ điều kiện để đi du học hay
                    | không?
                    | Thật may mắn khi SARI đã cho mình biết mình đang ở đâu và cải thiện những điểm yếu của mình
                    | như thế nào.
                    | Và sau 6 tháng kiểm tra lại,
                    | mình đã hoàn toàn tự tin để đi du học.
                  .style-people
                    div
                      img.logo-account(src='/images/logo-page-01.png', alt='')
                    div
                      p.mb-10.ml-20.text-uppercase.style-text-people
                        | Hòa Nguyễn
                      p.mb-10.ml-20.text-uppercase.style-text-info
                        | Cựu du học sinh RMIT- Đang sinh sống và làm việc tại Úc
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  p.mb-10.text-uppercase.font-w-700
                    | SARI giúp mình cải thiện học lực rất nhiều
                  p.mb-40.styleText
                    | Mình biết SARI cách đây 1 năm, lúc đấy đang không biết mình có đủ điều kiện để đi du học hay
                    | không?
                    | Thật may mắn khi SARI đã cho mình biết mình đang ở đâu và cải thiện những điểm yếu của mình
                    | như thế nào.
                    | Và sau 6 tháng kiểm tra lại,
                    | mình đã hoàn toàn tự tin để đi du học.
                  .style-people
                    div
                      img.logo-account(src='/images/logo-page-01.png', alt='')
                    div
                      p.mb-10.ml-20.text-uppercase.style-text-people
                        | Hòa Nguyễn
                      p.mb-10.ml-20.text-uppercase.style-text-info
                        | Cựu du học sinh RMIT- Đang sinh sống và làm việc tại Úc
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  p.mb-10.text-uppercase.font-w-700
                    | Giá như tôi biết đến SARI sớm hơn
                  p.mb-40.styleText
                    | Tôi là giáo viên tại Eggcademy,
                    | trong thâm tâm tôi ước gì có một nền tảng có thể đánh giá được năng lực cho các em
                    | một cách tương đối chính xác để việc tư vấn có thể dễ dàng và hiệu quả hơn.
                    | Từ khi biết SARI, mọi chuyện dễ dàng hơn bao giờ hết với tôi và học sinh của mình.
                  .style-people
                    div
                      img.logo-account(src='/images/logo-page-01.png', alt='')
                    div
                      p.mb-10.ml-20.text-uppercase.style-text-people
                        | Hòa Nguyễn
                      p.mb-10.ml-20.text-uppercase.style-text-info
                        | Cựu du học sinh RMIT- Đang sinh sống và làm việc tại Úc
          section.space.styleAbout
            .container
              .row
                .col-12.col-md-10.col-lg-7.col-xl-6.mx-auto
                  .section-title.reveal.text-center.mb-80
                    p.mb-10.font-w-700.styleName Bạn có thể làm được gì với SARI?
              .row
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  img.style-bt-number(src='/images/bt_01.png', alt='')
                  p.mb-10.text-uppercase.font-w-700
                    | Hiểu được bản thân mình đang ở đâu
                  p.mb-40.styleText
                    | Có bao giờ bạn thắc mắc rằng mình có đủ điều kiện đi du học hay chưa ?
                    | Điều kiện tài chính như thế nào?
                    | Vốn tiếng Anh của bạn đã đạt chuẩn hay chưa? SARI sẽ giúp bạn làm điều đó
                .col-12.col-md-9.col-lg-6.ml-lg-auto.reveal
                  .position-relative
                    picture
                      img(src='/images/br_01.png', alt='')
              .row
                .col-12.col-md-9.col-lg-6.ml-lg-0.reveal
                  .position-relative
                    picture
                      img(src='/images/br_02.png', alt='')
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  img.style-bt-number(src='/images/bt_02.png', alt='')
                  p.mb-10.text-uppercase.font-w-700
                    | Kết nối với các cựu học sinh du học trên toàn thế giới
                  p.mb-40.styleText
                    | SARI có mạng lưới du học sinh ở nhiều quốc gia trên thế giới hãt,
                    | tham gia cộng đồng có chung ước mơ du học, tìm hiểu về học bổng,
                    | thông tin về các trường ĐH, các sự kiện du học.
              .row
                .col-12.col-md-10.col-lg-5.mb-50.mb-lg-0.reveal
                  img.style-bt-number(src='/images/bt_03.png', alt='')
                  p.mb-10.text-uppercase.font-w-700
                    | Nhận được sự tư vấn lộ trình du học phù hợp
                  p.mb-40.styleText
                    | Sau khi làm bài kiểm tra với SARI,
                    | chúng tôi sẽ tư vấn và đưa ra cho bạn những lời khuyên về lộ trình du học phù hợp,
                    | giúp bạn có thêm một nguồn tham khảo đáng tin cậy trong kế hoạch lớn của cuộc đời.
                  a.btn.rounded-full.btn--outline.btn--sm.btn-3d-hover.btn-splash-hover(href='#news')
                    span.btn__text LÀM BÀI KIỂM TRA
                .col-12.col-md-9.col-lg-6.ml-lg-auto.reveal
                  .position-relative
                    picture
                      img(src='/images/br_03.png', alt='')
          section#review.space-top--md.bg-color-grey
            .overlap.overlap--white.z-index1
            .background-holder.background-holder--auto.background-holder--bottom
              img.background-image-holder(src='/images/bg-diagonal-lines.png', alt='pattern')
            .container
              .row
                .col-12.col-lg-6.mx-auto
                  .section-title.reveal.text-center.mb-80
                    p.mb-10.font-w-700.styleName Tại sao bạn nên đặt niềm tin vào SARI?

                  .row.justify-content-center
                    .col-12.col-md-6.col-lg-5.col-xl-4.z-index2.reveal
                      .card.text-center.mb-30.mb-md-20
                        .header.pl-40.pr-40.py-5.border-bottom-light
                          picture
                            img.rounded-default.styleImage(src='/images/Icon_01.png', alt='')
                          h5.mb-10 Hệ thống câu hỏi đa dạng và mới mẻ
                          p.mb-40.styleText
                            | Nền tảng của SARI kết hợp những phương pháp tiên tiếng nhất trong nghiên cứu tâm lý
                            | học,
                            | kết hợp khái niệm theo thời gian với các kỹ thuật kiểm tra chính xác chặt chẽ
                    .col-12.col-md-6.col-lg-5.col-xl-4.z-index2.reveal
                      .card.text-center.mb-30.mb-md-20
                        .header.pl-40.pr-40.py-5.border-bottom-light
                          picture
                            img.rounded-default.styleImage(src='/images/Icon_02.png', alt='')
                          h5.mb-10 Hàng trăm nghiên cứu về bài kiểm tra
                          p.mb-40.styleText
                            | SARI đã thực hiện hàng trăm loại nghiên cứu khác nhau
                            | về các vấn đề của du học như học lực, tài chính, mối quan hệ gia đình,
                            | ...để tìm ra mẫu số chung cho bài kiểm tra chất lượng.
                    .col-12.col-md-6.col-lg-5.col-xl-4.z-index2.reveal
                      .card.text-center.mb-30.mb-md-0
                        .header.pl-40.pr-40.py-5.border-bottom-light
                          picture
                            img.rounded-default.styleImage(src='/images/Icon_03.png', alt='')
                          h5.mb-10 Hỗ trợ nhiều ngôn ngữ khác nhau
                          p.mb-40.styleText
                            | Với hơn 37 ngôn ngữ, nền tảng kiểm tra năng lực du học của SARI là nơi được dịch
                            | nhiều nhất trên internet.
                            | Tiếng Pháp, tiếng Tây Ban Nha hay tiếng Nhật? Chúng tôi đều có.
                  .flex-row.ml-lg-auto.d-md-flex.mr-70.mr-lg-0.d-sm-inline-block.styleButton
                    a.btn.rounded-full.btn--outline.btn--sm.btn-3d-hover.btn-splash-hover(href='#news')
                      span.btn__text LÀM BÀI KIỂM TRA
          section.space
            .container
              .row
                .col-12.col-md-10.col-lg-7.col-xl-6.mx-auto
                  .section-title.reveal.text-center.mb-80
                    p.mb-10.font-w-700.styleName
                      | Đừng nghe chúng tôi nói, hãy để mọi người nói về SARI
              #logo.row.justify-content-center.branch-image.styleAbout
                // 
                .position-relative
                  img.col-12.styleImageAbout(src='/images/br_04.png', alt='')
                  a.lightbox.pos-center.media-player-icon.media-player-icon--md.media-player-icon--fill-primary.btn-splash-hover(data-autoplay='false', data-vbtype='video', href='https://www.youtube.com/watch?v=3_m6_WCUr-8')
                    i.fa.fa-play(aria-hidden='true')
                  p.mb-40.col-12.styleText.styleCenter
                    | Điểm Tương Đồng Giữa 2 Nhà Sáng Lập
                    br
                    |  Student Lifecare Và Shark Linh Là Gì? | Thương Vụ
                    |                             Bạc Tỷ | Mùa 2
                div
                  img.styleImageAbout(src='/images/br_04.png', alt='')
                  p.mb-40.styleText.styleCenter
                    | Điểm Tương Đồng Giữa 2 Nhà Sáng Lập
                    br
                    |  Student Lifecare Và Shark Linh Là Gì? | Thương Vụ
                    |                             Bạc Tỷ | Mùa 2
                div
                  img.styleImageAbout(src='/images/br_04.png', alt='')
                  p.mb-40.styleText.styleCenter
                    | Điểm Tương Đồng Giữa 2 Nhà Sáng Lập
                    br
                    |  Student Lifecare Và Shark Linh Là Gì? | Thương Vụ
                    |                             Bạc Tỷ | Mùa 2
                div
                  img.styleImageAbout(src='/images/br_04.png', alt='')
                  p.mb-40.styleText.styleCenter
                    | Điểm Tương Đồng Giữa 2 Nhà Sáng Lập
                    br
                    |  Student Lifecare Và Shark Linh Là Gì? | Thương Vụ
                    |                             Bạc Tỷ | Mùa 2
                div
                  img.styleImageAbout(src='/images/br_04.png', alt='')
                  p.mb-40.styleText.styleCenter
                    | Điểm Tương Đồng Giữa 2 Nhà Sáng Lập
                    br
                    |  Student Lifecare Và Shark Linh Là Gì? | Thương Vụ
                    |                             Bạc Tỷ | Mùa 2
          section.space
            .container
              .row
                .col-12.col-md-10.col-lg-7.col-xl-6.mx-auto
                  .section-title.reveal.text-center.mb-80
                    p.mb-10.font-w-700.styleName Đối tác và các nhà tài trợ chiến lược
              .row.align-items-center.text-center
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_01.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_02.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_03.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_04.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_05.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_06.png', alt='')
              .row.align-items-center.text-center
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_07.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_08.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_09.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_10.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_11.png', alt='')
                .col-6.col-sm-2.my-2
                  img(src='.//images/logo_12.png', alt='')